h1{
    color: purple;
    font-weight: 700;
    margin: 10px;
    margin-bottom: 20px;
}

input{
    width: 100%;
}

button{
    margin-left: 30px;
    width: 150px;
}

.container{
    margin: 10px;
    text-align: left;
}
